@import './variables.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  margin: 0 auto;
  min-height: 100%;
  background-color: #1d212b;
  animation: anim-overlay 1ms infinite;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

.section {
  padding-top: 6.5rem;
}
.sectionTitle {
  color: var(--color-not-so-white);
  font-size: 2.25rem;
  font-family: var(--font-menu);
  letter-spacing: -0.125rem;
  /*margin-left: 1.5rem;*/
  text-transform: uppercase;
  line-height: 3rem;
  will-change: contents;
  display: inline-flex;
  height: 3rem;
}
.sectionContent {
  display: flex;
  flex-direction: column;
  background: var(--section-background);
  min-height: 10rem;
  color: var(--color-not-so-white);
  padding: 1rem 1.5rem;
  font-family: var(--font-title);
}

@keyframes anim-overlay {
  0% {
    background-image: repeating-linear-gradient(0deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 2px, black 2px, black 3px);
  }

  50% {
    background-image: repeating-linear-gradient(0deg, black 0px, black 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 3px);
  }

  100% {
    background-image: repeating-linear-gradient(0deg, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 2px, black 2px, black 3px);
  }
}